@use './fonts.scss' as *;
@use './colors.scss' as *;

.container {
    width: min(75vw, 80%);
    height: clamp(40rem, 60vh, 80rem);
    background-color: $bg-builder;
    border-radius: $s3;
    border: 1px solid $border-default;
    overflow-y: auto;
    padding: min(2vw, 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;

    .addParagraphButton {
        outline: none;
        border: none;
        color: $text-main;
        background-color: transparent;
        font-size: clamp(2rem, 2.6vw, 4rem);
        transition: transform 0.2s;
        margin-top: min(2vh, 1rem);

        &:hover {
            cursor: pointer;
        }

        &:active {
            transform: scale(1.1);
        }
    }
}