@use './fonts.scss' as *;
@use './colors.scss' as *;

.phrasePicker {
    min-height: clamp(1.2rem, 1.6vw, 2rem);
    padding: min(2vw, 1rem);
    border: none;
    color: $text-default;
    font-family: $f3;
    border-radius: $s1;
    font-size: clamp(1.2rem, 0.8vw, 2rem);
    transition: transform 0.1s, opacity 0.25s;

    &:hover {
        cursor: pointer;
        transform: scale(0.95);
    }

    &:active {
        opacity: 0.7;
    }
}

.controlButton {
    min-height: clamp(3rem, 2.8vw, 5rem);
    padding: min(2vw, 1rem);
    border: none;
    color: $text-default;
    font-family: $f3;
    border-radius: $s1;
    font-size: clamp(1rem, 1vw, 1.8rem);
    transition: transform 0.1s, opacity 0.25s;
    text-align: center;
    width: 20%;
    overflow-wrap: break-word;
    flex: 1;
    max-width: 20rem;

    &:hover {
        cursor: pointer;
        transform: scale(0.95);
    }

    &:active {
        opacity: 0.7;
    }
}

.phraseRed {
    background-color: $phrase-red;
}

.phrasePurple {
    background-color: $phrase-purple;
}

.phrasePink {
    background-color: $phrase-pink;
}

.phraseBlue {
    background-color: $phrase-blue;
}

.btnCopy {
    background-color: $btn-copy;
}

.btnReset {
    background-color: $btn-reset;
}