@use './fonts.scss' as *;
@use './colors.scss' as *;

.header {
    position: relative;
    display: flex;
    width: 100%;
    min-height: clamp(10rem, 10%, 10vh);
    justify-content: flex-start;
    align-items: center;

    h1 {
        position: absolute;
        font-family: $f1;
        font-size: clamp(2.5rem, 5vw, 6rem);
        letter-spacing: $s1;
        color: $text-main;
        left: 50%;
        transform: translateX(-50%);
    }

    .projectsBtn {
        position: absolute;
        left: min(87.5vw, 90%);
        transform: translateX(min(-87,5vw, -90%));
        font-size: clamp(1.2rem, 2vw, 2.4rem);
        background: transparent;
        border: none;
        padding: 0;
        font-family: $f2;

        &:hover {
            cursor: pointer;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 3px;
            background: linear-gradient(to right, red, blue);
            z-index: -1;
            opacity: 0.8;
            -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
            mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));

            transition: all 0.4s ease;
        }

        &:hover::before {
            height: 90%;
            bottom: -2px;
            filter: blur(8px);
            opacity: 1;
            background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
        }
    }
}

@media (max-width: 300px) {
    .projectsBtn {
        display: none;
    }
}