@use './fonts.scss' as *;
@use './colors.scss' as *;

.inputField {
    width: 100%;
    min-height: clamp(3rem, 9vh, 20rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    flex: 0 0 auto;
    
    label {
        font-family: $f2;
        font-size: clamp(1.2rem, 1.5vw, 2.5rem);
        color: $text-muted;
        margin-bottom: 0.5rem;
        flex-shrink: 0;
    }

    input {
        font-size: clamp(1rem, 1vw, 2.4rem);
        padding: min(1%, 1rem);
        font-family: $f3;
        color: $text-main;
        border: 2px dashed $border-default;
        transition: border-color 0.3s;
        outline: none;

        &::placeholder {
            color: $text-muted;
        }

        &:hover {
            border-color: $border-hover;
        }

        &:focus {
            border-color: $border-active;
        }
    }
}