@use './colors.scss' as *;
@use './fonts.scss' as *;

* {
    transition: 0.2s;
}

.container {
    width: 100%;
    height: 100%;

    .content {
        width: 100%;
        height: 90%;
        display: flex;
    }

    .playlistCreation {
        width: 100%;
        height: 100%;

        .form {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 60%;

            h3 {
                font-size: $s4;
                text-align: center;
            }

            .playlistNameInput {
                width: 80%;
                height: 30%;
                margin: auto;
                padding: $s1;
                border-radius: $s3;
                outline: none;
                border: 1px solid $green;
                color: $softgray;
                font-family: $f2;
                font-size: $s3;
            }
        }

        .modalActions {
            display: flex;
            width: 100%;
            height: 40%;
            justify-content: center;
            align-items: center;

            button {
                width: 30%;
                height: 50%;
                margin: $s3;
                border-radius: $s3;
                color: $white;
                font-size: $s3;
                outline: none;
                border: 1px solid $verylightgray;
                transition: opacity 0.2s, transform 0.1s;

                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }

                &:active {
                    opacity: 0.5;
                    transform: scale(0.95);
                }
            }

            .cancelButton {
                background-color: $red;
            }

            .createButton {
                background-color: $green;
            }
        }
    }

    .playlistSelection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            text-align: center;
            font-size: $s4;
            color: $white;
            margin-bottom: $s1;
        }

        .list {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: auto;

            button {
                width: 70%;
                height: auto;
                padding: $s2;
                color: $white;
                background-color: $softgray;
                border-radius: $s2;
                border: none;
                margin: 2px;
                transition: opacity 0.2s, background-color 0.2s;
                font-family: $f2;
                font-size: $s3;

                &:hover {
                    cursor: pointer;
                    background-color: $green;
                }
            }   
        }
    }
}

.containerBlueMode {
    .playlistCreation {
        .form {
            .playlistNameInput {
                border: 1px solid $blue;
                color: $darksteel;
            }
        }

        .modalActions {
            button {
                color: $verylightblue;
                border: 1px solid $verylightblue;
            }

            .cancelButton {
                background-color: $red;
            }

            .createButton {
                background-color: $blue;
            }
        }
    }

    .playlistSelection {
        h3 {
            color: $verylightblue;
        }

        .list {
            button {
                color: $verylightblue;
                background-color: $darksteel;

                &:hover {
                    cursor: pointer;
                    background-color: $blue;
                }
            }   
        }
    }
}

@media (max-width: 1400px) {
    .container {
        .playlistCreation {
            .form {
                h3 {
                    font-size: 1.8rem;
                }
            }

            .modalActions {
                button {
                    margin: $s2;
                    font-size: 1.3rem;
                }
            }
        }

        .playlistSelection {
            h3 {
                font-size: 1.7rem;
            }

            .list {
                button {
                    padding: $s1;
                }   
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        .playlistCreation {
            .form {
                h3 {
                    font-size: 1.7rem;
                }

                .playlistNameInput {
                    font-size: 1.3rem;
                }
            }

            .modalActions {
                button {
                    font-size: 1.2rem;
                }
            }
        }

        .playlistSelection {
            h3 {
                font-size: $s3;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        .playlistCreation {
            .form {
                h3 {
                    font-size: $s3;
                }

                .playlistNameInput {
                    height: 25%;
                    font-size: 1.2rem;
                }
            }

            .modalActions {
                width: 100%;
                height: 40%;

                button {
                    margin: 0.8rem;
                    font-size: 1.1rem;
                }
            }
        }

        .playlistSelection {
            h3 {
                font-size: 1.3rem;
            }

            .list {
                button {
                    font-size: 1.6rem;
                }   
            }
        }
    }
}

@media (max-width: 762px) {
    .container {
        .playlistCreation {
            .form {
                h3 {
                    font-size: 1.2rem;
                    text-align: center;
                }

                .playlistNameInput {
                    font-size: 1.1rem;
                }
            }

            .modalActions {
                button {
                    width: 35%;
                    height: 40%;
                    margin: $s1;
                    font-size: $s2;
                    border: 1px solid $verylightgray;
                }
            }
        }

        .playlistSelection {
            h3 {
                font-size: 1.1rem;
            }

            .list {
                button {
                    padding: $s1;
                    color: $white;
                    font-size: 1.1rem;
                }   
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        .playlistCreation {
            .form {
                h3 {
                    font-size: $s2;
                }

                .playlistNameInput {
                    height: 20%;
                    font-size: $s2;
                }
            }

            .modalActions {
                button {
                    width: 30%;
                    height: 35%;
                    margin: $s1;
                    font-size: 0.9rem;
                }
            }
        }

        .playlistSelection {
            h3 {
                font-size: $s2;
            }

            .list {
                width: 100%;

                button {
                    width: 80%;
                    font-size: $s2;
                }   
            }
        }
    }
}