@use './colors.scss' as *;
@use './fonts.scss' as *;

* {
    transition: 0.2s;
}

.container {
    background-color: rgb(5, 5, 5);
    width: 15%;
    height: 100%;
    padding: $s1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nowPlaying {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .playingSongImg {
            object-fit: cover;
            width: 75%;
            margin-bottom: 5%;
        }

        .timeInfo {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                margin-left: $s2;
                margin-right: $s2;
                font-size: $s3;
                font-family: $f3;
            }

            input {
                width: 100%;
                flex-grow: 1;
                accent-color: $verylightgreen;
                transition: opacity 0.2s;

                &:hover {
                    cursor:pointer;
                    opacity: 0.9;
                }

                &:active {
                    opacity: 0.8;
                }
            }
        }

        h3 {
            font-size: $s4;
        }
    }
}

.containerBlueMode {
    background-color: rgb(10, 16, 28);

    .nowPlaying {
        .timeInfo {
           input {
                accent-color: $lightblue;
           }
        }
    }
}

@media (max-width: 1400px) {
    .container {
        .nowPlaying {
            .timeInfo {
                span {
                    margin-left: 0.8rem;
                    margin-right: 0.8rem;
                }
            }

            h3 {
                font-size: 1.8rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        .nowPlaying {
            .playingSongImg {
                margin-bottom: 4%;
            }

            .timeInfo {
                span {
                    margin-left: 0.7rem;
                    margin-right: 0.7rem;
                    font-size: 1.3rem;
                }
            }

            h3 {
                font-size: 1.6rem;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        padding: 0.4rem;

        .nowPlaying {
            .playingSongImg {
                margin-bottom: 3%;
            }

            .timeInfo {
                span {
                    margin-left: 0.6rem;
                    margin-right: 0.6rem;
                    font-size: 1.1rem;
                }
            }

            h3 {
                font-size: $s3;
            }
        }
    }
}

@media (max-width: 762px) {
    .container {
        padding: 0.3rem;

        .nowPlaying {
            .playingSongImg {
                margin-bottom: 3%;
            }

            .timeInfo {
                span {
                    margin-left: 0.4rem;
                    margin-right: 0.4rem;
                    font-size: $s2;
                }
            }

            h3 {
                font-size: 1.35rem;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0.3rem;

        .nowPlaying {
            .playingSongImg {
                margin-bottom: 2%;
            }

            .timeInfo {
                span {
                    margin-left: 0.2rem;
                    margin-right: 0.2rem;
                    font-size: 0.8rem;
                }
            }

            h3 {
                font-size: $s2;
            }
        }
    }
}