@use './colors.scss' as *;
@use './fonts.scss' as *;

* {
    transition: 0.2s;
}

.playlist {
    display: flex;
    position: relative;
    width: 100%;
    height: 5%;
    justify-content: center;
    align-items: center;
    margin-bottom: $s1;

    img {
        height: 80%;
        width: 80%;
    }

    .playlistTitle {
        width: 100%;
        height: 100%;
        text-align: center;
        height: auto;
        font-size: $s4;
    }

    .active {
        color: $green;
    }

    .addButton, .binIcon, h3 {
        transition: opacity 0.2s, transform 0.1s ease;
        
        &:hover {
            opacity: 0.7;
            cursor: pointer
        }

        &:active {
            opacity: 0.5;
            transform: scale(0.9);
        }
    }

    .binIcon {
        position: absolute;
        width: auto;
        height: 40%;
        aspect-ratio: 1/1;
        right: 2%;
    }
}

.playlistBlueMode {
    .active {
        color: $blue;
    }
}